*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: blue;
}


header{
    height: 70px;
    width: 100%;
    background-color: white;
}

.clearfix {
    display: table;
    content: "";
    clear: both;
}

.header-left {
    float:left;
    width: 35%;
    height: 100%;
    background-color: brown;
    display: inline-block;
}

.header-right {
    float:right;
    width: 35%;
    height: 100%;
    background-color: brown;
}

.header-left .logo{
    height: 100%;
    width: 25%;
    line-height: 70px;
    

}

img {
    width: 100%;
}




.header-left nav {
    width: 75%;
    float: right;
}



nav ul li {
    display: inline-block;

}