*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: blue;
}

/* header */

header{
    height: 70px;
    width: 100%;
    background-color: white;
}

.clearfix {
    display: table;
    content: "";
    clear: both;
}

.header-left {
    float: left;
    width: 35%;
    height: 100%;
    background-color: brown;
}

.header-right {
    float:right;
    width: 35%;
    height: 100%;
    background-color: brown;
}

.logo {
    background-color:coral;
    width: 25%;
    float: left;
    height: 100%;

}

.header-left nav {
    background-color: cadetblue;
    width: 75%;
    float: left;
    height: 100%;
}

.inizia {
    background-color: coral;
    width: 25%;
    float: right;
    height: 100%;
}


.nav-right {
    background-color: cadetblue;
    width: 75%;
    float: left;
    height: 100%;
}

/* main */

/* slidshow */

.slideshow {
    background-color: aqua;
    width: 100%;
    height: calc(100vh - 70px);
    padding-top: 90px;
}


.conteiner-slideshow {
    background-color: darkmagenta;
    width: 80%;
    margin: auto;
    height: 90%;
}

.piani {
    background-color: darkred;
    width: 60%;
    margin: auto;
    height: 800px;

}

 .col-1, .col-2, .col-3{
    width: calc(80% / 3);
    height: 100%;
    background-color: darkslateblue;
    float: left;
    margin: auto;
}





